.project
.pydevproject
xml_generator/settings/personal.py
settings/personal.py
db
*.pyc
.settings
.idea
xml_generator/settings/data/*
logs/
static/
xml.wsgi

xml_generator/templates/dashboard.html
settings/data/*
static/*

settings/

settings.py
