{% extends "admin/base_site.html" %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <h3>Выберите одну из 2-х альтернатив и нажмите 'сохранить':</h3>
    <br>
    <h4>Альтернатива 1</h4>
    <p>Эти новые продукты</p>
    <ul>{{ items|unordered_list }}</ul>
    <p>будут ссылаться на выбранный старый</p>
    {{ form }}
    <br>
    <br>
    <p>---------------------------------------------------------------------------------------</p>
    <h4>Альтернатива 2</h4>
    <p>Создайте новый продукт, к которому будут привязаны новые продукты от сборщиков:</p>

    <table class="fieldWrapper" style="margin-left: 50px; margin-right: 50px">
        <colgroup>
            <col width="25%" />
            <col  width="40%"/>
            <col width="35%"/>
        </colgroup>
        <thead>
        <tr>
            <td><b>Поле</b></td>
            <td><b>Выбор</b></td>
            <td><b>Описание</b></td>
        </thead>

        <tbody>
        {% for field in form_create_new %}
        <tr>

            <td>{{ field.label_tag }} </td>
            <td>    {{ field }} {{ field.errors }} </td>
            <td>    {{field.help_text}} </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <input type="hidden" name="action" value="moderate_product" style="margin-left: 50px; margin-right: 50px"/>
    <input type="submit" name="apply" value="Сохранить" style="color:red; margin-left: 50px; margin-top: 10px; margin-right: 50px"/>
</form>
{% endblock %}